body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, legend, input, button, textarea, p, blockquote, th, td{
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: 21px;
}

.top_arriba{
    width: 100%; background-color: #666666;
}

#top{
    width: 100%;
    color: white;
}

.direccion{
    font-family: font-family: 'Oxygen', sans-serif;;
    margin: 0 auto 0 auto;
    background-color: #08831F;
    width: 100%;
    height: 170px;
    text-align: center;
    display: table-cell; vertical-align: middle;
    font-size: 25px;
    color: white;
}


.todo{
    background-color: #1E90DA; width: 960px; margin: 0 auto 0 auto;
}

.header{
    float: right; background-color: #08831F; width: 680px; height: 215px;
}   


.fotos{
    border:solid 2px red;
}
.separa{
    padding-right: 5px;
    float: left;
}

.ver{ 
    background-color: #FFFFCC;
    border:solid 1px green;
    font-size:15px; 
    color:#990000; 
    padding:3px;
}

/*----------------------------------------------------------------------------------*/
body{
    font: 14px;
    color: #463207; /*#404040;*/
    background-color: #DDDDDD;
    line-height: 1.4;
    text-align: left;
    width: 100%;

}
.fecha{
    width:80%;
    background-color: #666666;
    color: white;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
}


.pagina{
    width:80%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

#pie {
    color: white;
    background-color:  #4c4c4c;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;    
}


.marco-secciones{
    background-color: white;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.img-center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

img{
    border: 1px solid #9A9797;
}

/*----------------------------------------------------------------------------------*/

a:link {
    color:#000000;
    text-decoration:none;
}
.previews{
    border: solid 1px #FF9900;
    width: 106px;
    height: 80px;
}
.titulo{
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    color: #5B830B;
    text-align: center;
}

/*----------------------------------------------------------------------------------*/

#slideshow, slideshow2 {
    height: 215px;
    background-color: #FFFFFF;
    width: 100%;
    margin: auto 0 auto 0;
}

#slideshow img, #slideshow2 img{ top:0; left:0; z-index:8; border: 0px;}
#slideshow img.active, #slideshow2 img.active {
    z-index:10;
}
#slideshow img.last-active, #slideshow img.last-active {
    z-index:9;
}

/*----------------------------------------------------------------------------------*/

/* jQuery lightBox plugin - Gallery style */
#gallery { background-color: #444; padding: 10px; width: 80%; margin: 0 auto 0 auto;}
#gallery img { border: solid 1px #FF9900; padding: 1px; }

/*-----------------------------------------------------------------------------------*/

/********************FORM**********************************************/

#container{
    margin:0 auto;
    width:70%;
    padding:20px 40px;
    text-align:left;
    border: 1px solid #bbb;
}

#form{
    margin:0;
    padding:0;
    border:none;
    float:left;
    display:inline;
    width:600px;
    margin-left:25px;
}

#form span{ float:left;}
#form label{ float:left; width: 70px;}

#form input{
    float: left;
    width:252px;
    border:1px solid #bbb;
    padding:4px;
}

#form textarea{
    height:125px;
    overflow:auto;
}

#form p.submit{
    clear:both;
    padding:0 25px 20px 25px;
    text-align:center;
}

#form button{
    width:150px;
    height:37px;
    border:none;
    background:url("../images/form_button.gif") no-repeat 0 0;
    color:#fff;
    cursor:pointer;
}
#box{
    background: none repeat scroll 0 0 #E8FFD7;
    border-color: #C7DDBC;
    color: #487210;
}
/**********************END FORM *********************************/

/*------------------------------MENU---------------------------------------------------*/
#content-menu{
    margin-left: auto;
    margin-right: auto;
    width:100%;
    height: 43px;
    background: #FFF url("../images/menu-bg.gif") top left repeat-x;
    font-weight: bold;
    text-align: center;
}

#menu{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
}

#menu a{
    height: 35px;
    display: block;
    color: #777;
    text-decoration: none;  
    float: left;
    padding: 8px 15px 0;
    cursor: pointer;
}

#menu a:hover{
    color: #fff;
    background: url("../images/current-bg.gif") top left repeat-x;
}
/*-----------------------------END-MENU---------------------------------------------------*/

.clouds {
    width:471px;
    height:200px;
    border:2px solid #ccc;
    background-image: url(../images/cosquin1.jpg);
}

.clouds1 {
    width:970px;
    height:200px;
    border:10px solid #FFF;
    background-image: url(../images/1.jpg);
}

#error-nombre { margin-left: 5px; background: none repeat scroll 0 0 #E8FFD7; border-color: #C7DDBC; color: #487210; }
#error-email { margin-left: 5px; background: none repeat scroll 0 0 #E8FFD7; border-color: #C7DDBC; color: #487210; }
#error-telefono { margin-left: 5px; background: none repeat scroll 0 0 #E8FFD7; border-color: #C7DDBC; color: #487210; }

.tarifas-cuadro{
    float:left;
    width: 150px;
}

.promo{
    font-size: 18px;
    text-align: center;
}

.center{
    text-align: center;
}

.mail a{
    color: #44A3DA;
}

.img-index{
    float: left; width: 280px; height: 200px; padding-right: 10px; padding-top: 5px;
}

.img-tarifas{
    float: left; margin-right: 60px; margin-left: 60px; margin-top: 25px;
}

.txt-index{
}

.verde{
    float: right; background-color: #08831F; width: 680px; height: 215px;
}

.ui-content{
    display: none;
}

#content-menu{
}

.servicios-left{
    float:left;
}

.servicios-right{
    float:right;
}

@media (max-width: 980px) {

    .pagina{
        width:100%;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
    }
    
    #container{
        margin:0 auto;
        width:70%;
        padding:20px 40px;
        text-align:left;
        border: 1px solid #bbb;
    }


    #content-menu{
        display: none;   
    }
    
    .ui-content{
        display: inline;
    }

    #slideshow2{
        visibility: hidden;
        display: none;
    }
    .header{
        visibility: hidden;
        display: none;
    }
    
    #slideshow{
        visibility: hidden;
        display: none;
    }

    .verde{
        float: right; background-color: #08831F; width: 680px; height: 215px; display: none;
    }

    .slideshows{
        background-color: #1E90DA; width: 960px; margin: 0 auto 0 auto; display: none;
    }

    .off{
        visibility: hidden;
        display: none;
    }

    .servicios-left{
        float:center;
    }

    .servicios-right{
        float:center;
    }    

}

@media (max-width: 600px) {
    #container{
        margin:0 auto;
        width:70%;
        padding:20px 40px;
        text-align:left;
        border: 1px solid #bbb;
    }
    
    .slideshows{
        background-color: #1E90DA; width: 960px; margin: 0 auto 0 auto; display: none;
    }

    .verde{
        float: right; background-color: #08831F; width: 680px; height: 215px; display: none;
    }

    .header{
        visibility: hidden;
        display: none;
    }   

    .fecha{
        width:100%;
        background-color: #666666;
        color: white;
        height: 25px;
        text-align: right;
        margin-left: auto;
        margin-right: auto;
    }

    .top_arriba{
        width: 100%; background-color: #666666;
    }

    .slideshow2, .slideshow{

        float: right; background-color: #08831F; width: 680px; height: 215px;
    }

    .todo{
        background-color: #1E90DA; 
        width: 100%;
        margin: 0 auto 0 auto;
        visibility: hidden;
        display: none;
    }

    header{
        float: right; background-color: #08831F; width: 680px; height: 215px;
    }   

    .pagina{
        width:100%;
        background-color: white;
        border-left: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
        margin-left: auto;
        margin-right: auto;
    }

    #content-menu{
        margin-left: auto;
        margin-right: auto;
        width:100%;
        height: 43px;
        background: #FFF url("../images/menu-bg.gif") top left repeat-x;
        font-weight: bold;
    }

    #menu{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .off{
        visibility: hidden;
        display: none;
    }

    .txt-index{

    }

    #content-menu{
        margin-left: auto;
        margin-right: auto;
        width:100%;
        height: 43px;
        background: #FFF url("../images/menu-bg.gif") top left repeat-x;
        font-weight: bold;
        text-align: center;
    }

    #menu{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 100%;
    }

    #menu a{
        height: 35px;
        display: block;
        color: #777;
        text-decoration: none;  
        float: left;
        padding: 8px 15px 0;
        cursor: pointer;
    }

    #menu a:hover{
        color: #fff;
        background: url("../images/current-bg.gif") top left repeat-x;
    }

    .servicios-left{
        float:center;
    }

    .servicios-right{
        float:center;
    }    

}